body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.blue {
    background-color: blue;
    padding: 20px;
}

.yo {
    background-color: rgb(251, 255, 0);
    padding: 20px;
    margin: 10px;
}

.flex{
    display: flex;
}

.red{
    background-color: yellow;
    padding-right: 80 ;
}

.green{
    background-color: yellow;
    padding-bottom: 80px;
}
